body {
    border: 2px solid rgb(128, 115, 115);
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b14848;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    min-width: 256px;
    padding: 24px;
}
html {
    background-image: repeating-linear-gradient(black 0%, red 50%, black 100%);
}
#gallery-header {
    color: orangered;
}
nav ul {
    list-style-type:none;
    background-color: #2f4f4f;
    border: 4px solid darkcyan;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 16px;
}
nav ul li {
    display: inline;
    border-right: 2px solid darkcyan;
    padding-right: 8px;
    padding-left: 8px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}
p.highlight {
    border: 4px solid black;
    border-radius: 10px;
    padding:16px;
    background-color: #c5ebfb;
}
p.highlight::before {
    color: black;
    content: "BREAKING NEWS: ";
    font-weight: bold;
}
.selected a {
    color: grey;
}